

#principale{
	
	margin: 80 0 0 10;
	max-height: 70%;
	min-height: 35%;
	/*padding: 20 10 20 10;*/
	width: 100%;
	overflow: auto;
	/*border: 1px solid black;*/

	

}

h1{

	margin:20 0 10 150;
}


.parametri{
	margin: 20 0 0 10;
	height: 29%;
	/*padding: 5 5 5 5;*/
	

}


.nondef{
	border-style: dashed;

}

.azione{
	width:100px;
	height: 60px;
	white-space: nowrap;
	float:left;
	text-align: center;
}

.piu{
	/*padding: 10 40 10 40;*/
}

#step{

	border: 0px;
	
}



.freccia {
	float:left;
	width:90px;
	height:60px;
	

}

p{
	margin:0;
}

.riga {
	background-color: white;
	height: 100%;
	max-height: 117px;
	width:100%;
	float:left;
	border:0px;
	z-index: 8;
	

}

.dividi{

	position: relative;
    top: -180px;
    left: 156px;
    
    border: 0px;
    width:80px;
    
}




body{

	width:auto;

}

img{
	margin-bottom: 2px;
}



.confre{
	height: 180px;
	border:0px;
	float:left;
}

.menuint{
	margin:0;
	z-index: 2;
	height: 145px;
	width:130px;
	background-color:white;
}

.menupart {
    
    width: 90px;
    
}

.bubu{

	width: 90px;
}
.parametri{
	min-height: 65%;
}
/*
.speciale0:hover{
	height: 378px;
	z-index: 99;
}*/



.ui.secondary.menu{

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	top: 80%;
	background-color:white;
}

.ui.secondary.vertical.menu > .item{
	margin: 0;
}
}
.unità{
	position: relative;
	left: 10%;
	top: 80%;
}

.pos{
	float: left;
	width:300px;
	margin-left: 1px;

}

.pos2{

	margin-top: 10px;
	width:300px;
	margin-left: 1px;
	height: 100px;
}

.aggiunt{
	margin-top: 10px;
}
.aggiungi {
	margin-left: 5px;
	float:left;
	
}

form{
	text-align: center;
	margin:0;
	width: 50px;
	float:left;
}

.pa{
	float:left;
	margin-top: 5px;
	width:100%;
	margin-bottom: 5px;
}

.perbottone{
	float:left;
	width: 180px;
	margin-right: 5px;
}

/*.contenitore{
	max-height: 90px;
	overflow: auto;
}

/*p{
	width: 110px;
	
}

.aggiunto{
	width:100%;


}

/*
.tex{
	float: left;
	width: 150px;
	text-align: center;
}

.kit{
	float: left;
		width: 150px;
	text-align: center;
}

.carson{
	float: left;
		width: 150px;
	text-align: center;
}

.tiger{
	float: left;
		width: 200px;
	text-align: center;
}

.grosjean{
	float: left;
	width: 150px;
	text-align: center;
}
